.footer {
    padding-bottom: 54px;

    &-wrapper {
        text-align: center;
        color: $main-text-color;
    }

    &-logo {
        margin-bottom: 20px;
    }

}


#footer-second-title {
    font-weight: 700;
}
#footer-third-title {
    font-weight: 700;
}
#footer-fourth-title {
    font-weight: 700;
}